* {
    margin: 0;
   font-family: 'Inter' ,sans-serif;
   scroll-behavior: smooth;
}
 
section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#main {
    background-image: url(img/bgMAIN.png);
}

#about{
    background-image: url(img/bgABOUT.png);
}

#skills{
    background-image: url(img/bgSKILLS.png);
}

#works{
    background-image: url(img/bgWORKS.png);
}

#comments{
    background-image: url(img/bgCOMMENTS.png);
}


.main-block, .about-block, .skills-block, .works-block, .comments-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.main-block {
    flex-direction: column;
    height: 100vh;
}

.main-content {
    background-image: url(img/form1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 849px;
    height: 223px;
    padding-left: 30px;
}

.main-title {
    color: pink;
    font-size: 80px;
    padding-top: 67px;
}

.main-subtitle {
    color: pink;
    font-size: 20px;
    font-family: 'Comfortaa',;
}

.button {
    background-color: #6b2cff;
    margin-top: 20px;
    border-radius: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 black;
    width: 200px;
    height: 60px;
    transition-duration: 0.3s;
}

.button a {
    font-size: 20px;
    text-decoration: none;
}

.button:hover {
background-color: #2bb826;
}

.moving-planet{
   background-image: url(img/moving-planet.png);
            background-repeat: no-repeat;
            animation-name: moving-planet;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            width: 200px;
            height: 230px;
            transform: rotate(-15deg);
            position: absolute;
            bottom: 30px;
            left: 30px;
    }
@keyframes moving-planet{
        from{transform: translateY(0);}
        to{transform: translateY(60px);}
    }

.title {
    padding-top: 100px;
    text-align: center;
    color: #fff;
    font-size: 80px;
    text-shadow: 5px 5px 0 black;

}

.about-content {
    width: 800px;
    height: 400px;
    border-radius: 0px 0px 0px 20px;
    background-color: #792AFF;
    padding-left: 40px ;
    position: relative;
    display: flex;
}

.about-title {
  color: #FFF;
    font-size: 20px;
    max-width: 463px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 30px;
    font-family: 'Comfortaa';
    padding-top: 40px;
}

.about-card {
    background-image: url(img/form2.png);
    background-repeat: no-repeat;
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: relative;
    margin-top: 20px;
}

.about-card p {
    color: #000;
    font-size: 17px;
    align-self: start;
    padding-left: 20px;
    line-height: 25px;
    font-family: 'Comfortaa';
}

.about-card img {
    padding-bottom: 20px;
}

.cloud {
    background-image: url(IMG/cloud.png);
    background-repeat: no-repeat;
    animation-name: cloud;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
}

@keyframes cloud{
    from{transform: translateY(0);}
    to{transform: translateY(60px);}
}

.works-img {
    display: flex;
    justify-content: space-around;
}

.works-img img{
    width: 30%;
    margin-right: 20px;
    box-shadow: 7px 7px 0 black;
}

.skills-card{
    background-image: url(img/form3.png);
    height: 250px;
    padding-right: 30px;
    margin: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.skills-card p{
    color: #000;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 350px;
    font-family: 'comfortaa';
}


@keyframes planet2{
    from{transform: translateY(0);}
    to{transform: translateY(60px);}
}

.planet2 {
    background-image: url(img/moving-planet2.png);
    background-repeat: no-repeat;
    animation-name: planet2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
}


.footer {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: pink;
    align-items: center;
}

.footer-contact a {
  
    margin-right: 15px;

}

.footer-container1 {
    display: flex;
    justify-content: flex-start;

}

.footer-container {
display: flex;
justify-content: center;
}

.comments-block {
    max-width: 1150px;
    justify-content: center;
    align-items: center;
}

.comments-card {
    background-image: url(img/card.png);
    height: 300px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
}

.off-scroll{
    overflow: hidden;
}

.comments-card h3 {
    font-family: 'comfortaa';
    font-size: 18px;
    padding: 10px;

}

.comments-card p {
    font-family: 'comfortaa';
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    align-items: center;

}

.comments {
    background-image: url(img/comment.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 372px;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.comments p {
    font-family: 'comfortaa';
    font-size: 20PX;
    max-width: 250px;

}

.fixed-manu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-right: 150px;

}

.nav-link {
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border: 2px, solid, black;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'comfortaa';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
   transition-duration: 0.3s;
   
}

.mobile-manu{
    display: none;
    padding-top: 10px;
    width: 40px;
    position: absolute;
    right: 20px;
}

.nav-link:hover {
    background-color:  #bbff2c;
    
}

.logo {
    color: #bbff2c;
    font-size: 80px;
    padding-left: 50px;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.active {
    background-color: #792AFF;
}

.mobile-button{
    display: none;
    padding-top: 10px;
    width: 40px;
    position: absolute;
    right: 20px;
}

.hide{
    display: none;
}


@media (max-width: 1000px) {
    .nav-links{
        display: none;
    }

    .logo{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .main-content{
        max-width: 320px;
    }

    .main-title{
        padding-top: 30px;
        font-size: 30px;
    }

    .main-subtitle {
        font-size: 15px;
    }
    .planet2, .cloud, .moving-planet{
        display: none;
    }

    .title{
        font-size: 50px;
        padding-top: 30px;
    }

    .about-block{
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
        margin-right: 20px;
    }

    .about-card{
        order: -1;
        background-size: contain;
        padding-top: 20px;
        width: 300px;
        padding-bottom: 50px;
        margin-right: 10px;
        height: 300px;
       
    }
    
    .about-card img{
        width: 200px;
        
    }

    .about-content{
        width: 80%;
        height: 500px;
        margin-bottom: 5px;

    }

    .about-title{
        font-size: 18px;
    }

    .skills-card{
        margin: 20px;
        padding-left: 10px;
        padding-right: 20px;
        background-size: contain;
    }

    .skills-card p{
        font-size: 16px;
        margin-top: 15%;
        margin-bottom: 20px;
    }

    .skills-section{
        min-height: 60vh;
    }


    .skills-card .button{
        position: absolute;
        bottom: 100px;
    }

    .works-img{
        flex-direction: column;
        padding: 20px 120px;
        
    }

    .works-img img{
        margin: 20px 20px;
        width: 80%;
    
    }

    .comments-block{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding-top: 50px; 
        padding-bottom: 100px;
        

    }

    .comment{
        background-image: 
        url(img/comment-mobile.png);
    }

    .comment p{
        font-size: 15px;
        max-width: 290px;

    }

    footer{
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-info{
        text-align: center;
    }

    .mobile-button{
        display: block;
        padding-right: 10px;
    }

    .mobile-menu{
        position: absolute;
        top: 0;
        z-index: -1;
        background-color: #200153;
        min-height: 100vh;
        width: 100%;
    }

    .mobile-nav{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav-links .nav-link{
        margin-bottom: 30px;
        width: 210px;
        height: 50px;
    }

    


}